<%- include('partials/header') -%>

<main class="container">
  <ul>  
    <li class="sunscreen"> 
      <section>
        <h3><%= sunscreen.brand %></h3>
        <h3><%= sunscreen.name %></h3>
        <ul>
          <li><%= `SPF: ${sunscreen.spf}` %></li>
          <li><%= `Form: ${sunscreen.form}` %></li>
          <li><%= `Type: ${sunscreen.type}` %></li>
          <li><%= `Finish: ${sunscreen.finish}` %></li>
          <li><%= `Water resistant: ${sunscreen.waterResistant}` %></li>
          <li><%= `Broad spectrum: ${sunscreen.broadSpectrum}` %></li>
          <li><%= `Price per ounce: ${sunscreen.pricePerOz}` %></li>
          <li><%= `Ingredients: ${sunscreen.ingredients}` %></li>
        </ul>
      </section>
      <section>
        <img src= <%= sunscreen.image %> >
      </section>
    </li>
  <ul>
</main>

<%- include('partials/footer') -%>