<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sunscreen Savvy</title>
</head>
<body>
  <section>
    <h1><a href="/">Sunscreen Savvy</a></h1>
    <% if (!user) { %>
      <p>Hello and welcome!</p>
      <div><a href="/login">Log In</a></div>
      <div><a href="/signup">Sign Up</a></div>
    <% } %>
    <% if (user) { %>
      <p>Hi <%= user.username %>!</p>
      <div><a href="/profile">Profile</a></div>
      <div><a href="/addSunscreen">Add a Sunscreen</a></div>
      <div><a href="/logout">Log Out</a></div>
    <% } %>
  </section>

  <section class="allSunscreens">
    <h2>All Sunscreens</h2>
    <ul class="sunscreenList">
    <% sunscreens.forEach(el => { %>
      <li class="sunscreen"> 
        <section>
          <h3><%= el.brand %></h3>
          <h3>
            <a href='/sunscreen/<%= el._id %>'>
              <%= el.name %>
            </a>
          </h3>
        </section>
        <section>
          <img src= <%= el.image %> >
        </section>
      </li>
    <% }) %>
    <ul>
  </section>

</body>
</html>