<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sunscreen Savvy</title>
</head>
<body>
  <h1><a href="/">Sunscreen Savvy</a></h1>
  <h2><%= user.username %>'s Profile</h2>
  <form action="/updateProfile?_method=PUT" method="POST">
    <fieldset>
      <legend>Skin Type</legend>
      <% skinTypes.forEach(type => { %>
       <div>
        <!-- If a skin type is the one saved on the profile, it will be selected by default -->
        <% if (type.skinType === profile.skinType) { %>
          <input type="radio" name="skinType" id="<%= type.skinType %>" value="<%= type.skinType %>" required checked>
        <% } else { %>
          <input type="radio" name="skinType" id="<%= type.skinType %>" value="<%= type.skinType %>" required>
        <% } %>
        <label for="<%= type.skinType %>"><%= type.skinType %></label>
        </div>
      <% }) %>
    </fieldset>
    <fieldset>
      <legend>Skin Tone</legend>
      <% skinTones.forEach(tone => { %>
       <div>
        <!-- If a skin tone is the one saved on the profile, it will be selected by default -->
        <% if (tone.skinTone === profile.skinTone) { %>
          <input type="radio" name="skinTone" id="<%= tone.skinTone %>" value="<%= tone.skinTone %>" required checked>
        <% } else { %>
          <input type="radio" name="skinTone" id="<%= tone.skinTone %>" value="<%= tone.skinTone %>" required>
        <% } %>
        <label for="<%= tone.skinTone %>"><%= tone.skinTone %></label>
        </div>
      <% }) %>
    </fieldset>
    <button type="submit">Update</button>

  </form>
</body>
</html>