<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sunscreen Savvy</title>
</head>
<body>
  <h1><a href="/">Sunscreen Savvy</a></h1>
  <h2><%= user.username %>'s Profile</h2>
  <section>
    <h3>User Data</h3>
    <div>Skin Type: <%= user.skinType %> </div>
    <div>Skin Tone: <%= user.skinTone %> </div>
  </section>
  <section>
    <h3>Profile Data</h3>
      <div>Skin Type: <%= profile.skinType %> </div>
      <div>Skin Tone: <%= profile.skinTone %> </div>
  </section>
  
  <h3>Update Profile</h3>
  <form action="/updateProfile" method="POST">
    <div>
      <label for="skinType">Skin Type</label>
      <input type="text" id="skinType" name="skinType" required>
    </div>
    <div>
      <label for="skinTone">Skin Tone</label>
      <input type="text" id="skinTone" name="skinTone" required>
    </div>
    <button type="submit">Update</button>

  </form>
</body>
</html>